// Specific rules for this project

body {
    background: rgb(27, 27, 27);
    height: 100%;
    color:rgb(219, 219, 219)
  }

header {
  height: 80px;
  background: #000;
  width: 100%;
  color: red;
  display: flex;
}

.logo {
  width: 180px;
  height: 50px;
  background: url("../logoMarvel.png") center center no-repeat;
  background-size: contain;
}

.main-menu {
  max-width: 400px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-gap: 20px;
  max-width: 1200px;
}

.card {
  width: auto; 
  height: 340px;
  object-fit: cover;
}

.card img {
  max-width: 100%; 
  height:80%;
  object-fit: cover;
  background-position: center center;
  border-radius: 10px;


}

.pagination {
  margin: 0 auto;
  width: 100%;
  height: 60px;
  gap: 10px;
// background: rgb(104, 78, 78);
justify-content: center;
}

.pagination .left-arrow, .pagination .right-arrow {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 0);
  padding: 10px;
  border-radius: 5px;
}

.pagination .page {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  min-width:20px;
  cursor: pointer;
  text-align: center;

}
.pagination .isactive {
  color: red !important;
}




// FOOTER
.footer {
    // position: absolute;
    // bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 63px;
    background-color: rgb(0, 0, 0);
    color: rgb(97, 97, 97);
    font-size: 12px;
  }

  .footer a {
    color:aliceblue
  }