/* // Specific rules for this project */

body {
  background: rgb(27, 27, 27);
  color: rgb(219, 219, 219);

}

header {
  height: 80px;
  background: #000;
  width: 100%;
  color: red;
  display: flex;
}

.logo {
  width: 180px;
  height: 50px;
  background: url("../logoMarvel.png") center center no-repeat;
  background-size: contain;
}
.loading-image {
  width: 64px;
}

/* MAIN MENU */

.main-menu {
  max-width: 400px;
}

.main-menu a {
  color: red;
  text-decoration: none;
}
.main-menu a:hover {
  color: #fff;
  text-decoration: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  grid-gap: 20px;
  max-width: 1200px;
}

.card .favorite {
  background-color: rgb(15, 15, 15);
  color: #fff;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* padding: 0;
  margin: 0; */
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

.card {
  width: auto;
  height: 430px;
  object-fit: cover;
  transition: transform 0.3s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}
.card-front {
  background: none;
}
.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.card-back {
  /* background-color: black; */
  color: white;
  transform: rotateY(180deg);
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card img {
  max-width: 100%;
  height: 70%;
  object-fit: cover;
  background-position: center center;
  border-radius: 10px;
}

.pagination {
  margin: 0 auto;
  width: 100%;
  height: 60px;
  gap: 10px;
  /* // background: rgb(104, 78, 78); */
  justify-content: center;
}

.pagination .left-arrow,
.pagination .right-arrow {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 0, 0);
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination .page {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 5px;
  min-width: 20px;
  cursor: pointer;
  text-align: center;
}
.pagination .isactive {
  color: red !important;
}

/* search  */

.search-container {
  max-width: 30%;
  min-width: 220px;
  height: 50px;
}
.search-container .search {
  width: 100%;
  height: 50px;
  background: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
  padding: 10px;

  /* display: flex;
  justify-content: center;
  align-items: center; */
  border: none;
}

.search:focus {
  border: 1px solid rgb(255, 0, 0);
  /* outline: 1px solid rgb(255, 0,0); */
  outline: none;
  border-radius: 5px;
}

/* BUTTONS */

.btn {
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

/* // FOOTER */

.footer {
  /* position: absolute; */
  /* margin-top: 100%; */
  /* bottom: 0; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 63px;
  background-color: rgb(0, 0, 0);
  color: rgb(97, 97, 97);
  font-size: 12px;
}

.footer a {
  color: aliceblue;
}
